<h1>About</h1>
<h3>
Create a personalized study guide from quiz results.
</h3>

<p>The PersonalStudyGuide uses the results from a quiz or series of quizzes to craft a personalized study guide. Each question in the quiz has keywords to indicate the category/subject of that question. The results for each category can then be displayed for the class as a whole and/or for any student in particular. Based on the performance by category, a personalized guide can then be crafted for the class as a whole or any individual.
  </p>
