<% provide(:title, "About") %>
<h1>About</h1>
<h3>
Create a personalized study guide from quiz results.
</h3>

<p>The PersonalStudyGuide uses the results from a quiz or series of quizzes to craft a personalized study guide. Each question in the quiz has keywords to indicate the category/subject of that question.
  </p>
