<h1>Help</h1>
<h3>Quiz Builder Instructions</h3>

<section>
    <p>
      Building a quiz requires two pieces: questions and answers.
    </p>
    <ol>
        <li>Build an answer by selecting "New Answer" from the "Answers" pull-down menu. Enter the text of the answer and subject area and then add the answer by clicking the "Add an answer" button. </li>
        <br>
        <li>Build a question by selecting "New Question" from the Questions pull-down menu. Enter the text of the question in the top field. Select the answers to the question by clicking the check-box next to a possible answer. One or more answers can be selected for each question. One can also enter the subject to find possible answers in a particular subject area by using the "Search Answers by Subject" search field. Partial entries are allowed. After picking the answers, then build the question with the selected answers by clicking the "Add a question" submit button.</li>
        <br>
        <li>Build a quiz by selecting "Build a New Quiz" from the Quiz pull-down menu. Select the questions to include in the quiz by selecting the check-box next to a question. One or more answers can be selected for each quiz. One can also enter the subject to find possible questions in a particular category by using the "Search Questions by Subject" search field. Partial entries are allowed. After picking the questions, then build the quiz with the selected questions by clicking the submit button.</li>
    </ol>


<h3>FAQS</h3>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
